@page
@model AboutModel
@{
    ViewData["Title"] = "About Zirk";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Zirk is a simple web application designed to display data from an SQL database in realtime.</p>
<p>It allows that data to be added to, modified, or deleted easily by any user on the page at the time.</p>
<p>There is no authentication, and the data handled by this version is rather trivial, but these aspects could be enhanced given enough time and purpose.</p>
